body {
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    background-image: url("https://img.freepik.com/free-vector/office-background-video-conferencing_23-2148654417.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(162, 156, 156, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#heading {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

.search input[type="text"] {
    padding: 10px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

/* Add specific styles for employee list */
.employee-tile {
    background-color: #eceaea;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#employee-name{
    font-size: 20px;
    font-weight: bold;
    color: teal;
}

.employee-details {
    color: #333; /* Change employee details text color */
}

.employee-details p {
    margin: 5px 0;
}
